@using Soccer.Shared.FutDb;
@inject NavigationManager NavigationManager

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="data:image/png;base64,@(Convert.ToBase64String(League.Image))" alt="@League.Name">
    <div class="card-body">
        <h5 class="card-title">@League.Name</h5>
        <button @onclick="NavigateToPlayer" class="btn btn-primary">Giocatori</button>
    </div>
</div>

@code
{
    [Parameter]
    public LeagueItem League { get; set; }

    public void NavigateToPlayer()
    {
        NavigationManager.NavigateTo($"/players/{League.Id}");
    }
}
