@using Soccer.Shared
@using Soccer.Shared.FutDb

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @foreach (var item in Elements)
        {
            if (item.IsActive)
            {
                <li class="page-item active">
                    <a class="page-link" href="#">@item.Counter <span class="sr-only">(current)</span></a>
                </li>
            }
            else
            {
                <li class="page-item"><a class="page-link" href="#">@item.Counter</a></li>
            }
        }
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>

@code {
    [Parameter]
    public PageFutModel PaginationInfo { get; set; }
    public List<PageElement> Elements { get; set; }
    protected override void OnInitialized()
    {
        Elements = PageElementes.GetPageElements(PaginationInfo);
    }
}
