@page "/profileserverside"
<h3>Profile Server Side</h3>

@(MyProfile.ToString())

@code
{
    [Parameter]
    [Inject]
    public HttpClient Client { get; set; }
    public string MyProfile { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        MyProfile = await Client.GetStringAsync("/api/ProfileServerSide");
    }
}
