@page "/superheroesgithub"

<h3>SuperHeroesGithub</h3>

@(FunctionCallString)

@code
{
    [Inject]
    public HttpClient Client { get; set; }
    public string FunctionCallString { get; set; } = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            FunctionCallString = await Client.GetStringAsync("/api/superheroesgithub");
        }
        catch (Exception)
        {
            FunctionCallString = "Non autorizzato";
        }
    }
}